
.word-typer {
  font-family: 'merriweather', georgia, serif;

  &.loading {
    position: relative;

    .text-container .words {
      height: 25px;
    }

    .word, .source {
      display: none;
    }

    input {
      margin-top: 15px;
    }

    &:before {
      content: 'loading...';
      position: absolute;
      top: 12px;
      left: 15px;
      color: black;
      font-size: 18px;
    }
  }

  .text-container {
    .words {
      border: 1px solid black;
      border-radius: 3px;
      padding: 10px 20px;
      display: flex;
      flex-wrap: wrap;
      color: black;
      background: white;
      font-size: 32px;
      line-height: 32px * 1.5;

      .word {
        &.next {
          box-shadow: 0px 1px 0px 0px black;
        }
        &.correct {
          // color: limegreen;
          color: #26C281;
        }
        &.incorrect {
          color: red;
          // color: #F22613;
        }
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }

    .source {
      text-align: right;
      font-style: italic;
      min-height: 15px;
      color: white;
      text-shadow:
      -1px -1px 0 rgba(0, 0, 0, 0.1),
      1px -1px 0 rgba(0, 0, 0, 0.1),
      -1px 1px 0 rgba(0, 0, 0, 0.1),
      1px 1px 0 rgba(0, 0, 0, 0.1);
    }
  }

  input {
    font-family: 'merriweather', georgia, serif;
    font-size: 32px;
    word-spacing: 5px;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px 20px;
    outline: none;
    color: black;
    margin-bottom: 15px;

    &:disabled {
      background: lightgray;
    }

    &::placeholder {
      color: lightgray;
    }

    &:focus {
    }
  }
}
