.single-player {
  .btn-save {
    border: 1px solid black;
    font-size: 16px;
    border-radius: 3px;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: white;

    &:hover {
      background: lightgray;
      cursor: pointer;
    }
  }
}
