$height: 25px;

.race {
  margin-top: 15px;

  .road {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    height: 50px;
    background: #6C7A89;
    margin-bottom: 15px;

    &::before {
      content: '';
      height: 22px;
      width: 100%;
      border-bottom: 5px dashed white;
      position: absolute;
      z-index: 0;
    }

    .track {
      height: 50px;
      width: 720px;
      margin: 0 auto;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        height: 50px;
        width: 5px;
        left: -5px;
        background: rgba(247, 202, 24, 0.8);
      }

      &::after {
        content: '';
        position: absolute;
        left: calc(100% - 10px);
        // left: 100%;
        width: 10px;
        height: 50px;
        background-color: white;
        // checker pattern - credits to Lea Verou
        background-image:
        -moz-linear-gradient(45deg, #000 25%, transparent 25%),
        -moz-linear-gradient(-45deg, #000 25%, transparent 25%),
        -moz-linear-gradient(45deg, transparent 75%, #000 75%),
        -moz-linear-gradient(-45deg, transparent 75%, #000 75%);
        background-image:
        -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #000), color-stop(.25, transparent)),
        -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #000), color-stop(.25, transparent)),
        -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #000)),
        -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #000));
        background-size: 10px 10px;
        background-position:0 0, 5px 0, 5px -5px, 0px 5px;
      }

      .car {
        position: absolute;
        top: -25px;
        left: -100px;
        z-index: 1;
        transition: all 400ms ease-in-out;

        svg {
          // width: 100px;
        }
      }
    }
  }

  .progress-bar {
    height: $height;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 10px;

    .progress {
      height: 100%;
      box-sizing: border-box;
      border: 1px solid black;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top-right-radius: $height / 2;
      border-bottom-right-radius: $height / 2;
    }
  }

  &.multiplayer {
    margin: 0;

    .road {
      margin: 0;
      border: none;
    }
  }
}
