$height: 25px;

.race {
  margin-top: 15px;

  .road {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    height: 50px;
    // background-color: gray;
    background: #6C7A89;
    margin-bottom: 15px;

    &::before {
      content: '';
      height: 22px;
      width: 100%;
      border-bottom: 5px dashed white;
      position: absolute;
      z-index: 0;
    }

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 50px;
      left: calc(100% - 8px);
      background-image:
      linear-gradient(45deg, #000 25%, transparent 25%),
      linear-gradient(-45deg, #000 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #000 75%),
      linear-gradient(-45deg, transparent 75%, #000 75%);
      background-size: 2px;
      background-color: white;
      // background-position:0 0, 2px 0, 2px -2px, 0 2px;
    }

    .car {
      position: absolute;
      top: -25px;
      left: 0px;
      z-index: 1;
      transition: all 300ms;

      svg {
        // width: 100px;
      }
    }
  }

  .progress-bar {
    height: $height;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 10px;

    .progress {
      height: 100%;
      box-sizing: border-box;
      border: 1px solid black;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top-right-radius: $height / 2;
      border-bottom-right-radius: $height / 2;
    }
  }
}
