.scores {
  font-family: sans-serif;
  width: 720px;
  margin: 0 auto;

  h1 {
    color: white;
  }

  .score {
    background: white;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid black;
    margin: 10px 0;

    .name {
      // font-weight: bold;
      font-size: 24px;
    }

    .stats {
      font-size: 20px;

      .speed {
        font-size: 28px;
        font-weight: bold;
      }
    }

    .date {
      float: right;
      font-size: 16px;
    }

    .text,
    .source {
      font-family: 'merriweather', georgia, serif;
    }

    .text {
      font-size: 20px;
      line-height: 1.5;
    }

    .source {
      text-align: right;
      font-style: italic;
    }
  }

  .home {
    font-size: 20px;
    color: white;

    &:hover {
      color: lightblue;
      cursor: pointer;
    }
  }

  .sorts {
    float: right;
    text-align: right;

    .btn-sort {
      font-size: 14px;
      padding: 10px;
    }
  }
}
