#graph {
  text-align: center;
  position: relative;

  .graph {
    overflow: visible;

    // NOTE: padding left/right = 50% - width / 2
    padding: 15px calc(50% - 718px / 2) 55px;

    .time-label,
    .value-label,
    .current-value {
      font-size: 10px;
      // font-family: monospace;
      font-family: sans-serif;
    }

    .axis-label {
      font-family: sans-serif;
    }

    .interval-lines {
      fill: none;
      // stroke: rgba(255, 255, 255, 1);
      stroke: #ecf0f1;
    }

    .current-value {
      font-weight: bold;
      fill: white;
      font-size: 12px;
      text-shadow:
      -1px -1px 0 rgba(0, 0, 0, 0.1),
      1px -1px 0 rgba(0, 0, 0, 0.1),
      -1px 1px 0 rgba(0, 0, 0, 0.1),
      1px 1px 0 rgba(0, 0, 0, 0.1);
    }

    .current-value-line {
      stroke: black;
    }
  }

  .waiting {
    font-size: 32px;
    font-family: sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    animation: blink 1s steps(2, start) infinite;
  }

  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
}
